<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity Name="FrameRateControlExperiment60"
            Publisher="CN=Jaewon Choi"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="fc498221-0a55-489c-9e82-85d4019c2483" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>FrameRateControlExperiment60</DisplayName>
    <PublisherDisplayName>Jaewon Choi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Holographic" MinVersion="10.0.10586.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="FrameRateControlExperiment60.AppView">
        <uap:VisualElements
             DisplayName="FrameRateControlExperiment60"
             Square150x150Logo="Assets\Square150x150Logo.png" 
             Square44x44Logo="Assets\Square44x44Logo.png" 
             Description="FrameRateControlExperiment60"
             BackgroundColor="#464646">
          <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
          <uap:SplashScreen Image="Assets\SplashScreen.png" />
        </uap:VisualElements>
      </Application>
  </Applications>
</Package>